<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<style>
ul {
    list-style-type: none;
    margin: 2;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
	a-color: #333;
}


</style>
</head>
<body>
<form name ="myForm" ng-app="myApp" ng-controller="myCtrl">
	<p>
	<input type="text" name="search" ng-model="search" style="float:right"><br>
	</p>

	<p>
	<ul>
	<li><a href="#home">邮箱</a></li>
	<li><a href="#news">联系人</a></li>
	<li><a href="#contact">日历</a></li>
	<li><a href="#mission">任务</a></li>
	<li><a href="#briefcase">公文包</a></li> 
	<li><a href="#first_choice">首选项</a></li>
	<li><a href="#problem">常见问题</a></li>
	<li><a class="active" href="#about">写信</a></li>
	</ul>
	</p>
	
	<p>
	<button ng-click="send()">发送</button>
	<button ng-click="cancel()">取消</button>
	<button ng-click="save()">保存草稿</button>
	<button ng-click="check()">检查拼写</button>
	</p>
	
    <p>
    <button ng-click="reciver()">收件人：</button>
    <input type="email" name="reciverAddress" ng-model="reciverAddress" size="214" requied>
	<span style="color:red" ng-show="myForm.reciverAddress.$dirty && myForm.reciverAddress.$invalid">
    <span ng-show="myForm.reciverAddress.$error.reciverAddress.">不是一个合法的邮箱地址</span>
	</p>
	
	<p>
	<button ng-click="copy()">抄送：</button>
	<input type="email" name="copyAddress" ng-model="copyAddress" size="216">
    <span ng-show="myForm.email.$error.email" >不是一个合法的邮箱地址</span>
	</p>
	
	<p>
	主题：
	<input type="text" name="myTopic" ng-model="topic" requied size="217">
	</p>
	
	<p>
	<button ng-click="add()">附加：</button>
	<input type="file" name="myFile" ng-model="file">
	</p>
	
	<p><textarea ng-model="text" cols="196" rows="31"></textarea></p>
</form>
<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.search="搜索";
		$scope.reciverAddress='123@123.com';
		$scope.text='';
	});
</script>
</body>
</html>
